@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;300&display=swap');
body{
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Glory', sans-serif;
    
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin: auto;
    text-align: center; 
    background-color: orchid;
    color: white;
    
    border-radius: 7px;
    font-weight: bold;
    margin-top: 7px;
}

input{
    
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 7px;
    border: none;
    font-size: large;
}
label{
    padding:1rem;
    padding-bottom: 0.2rem;
}
button{
    
    margin: 1rem 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 7px;
    background-color: #b6a99b;
    font-weight: bold;
    
    
}
.cont{
    padding: 0rem 1rem;
}

h1{
    text-align: center;
}
.sec{
    padding: 5.6rem;
}

.footer{
    background-color:orchid;
    margin-bottom: 0px;
    text-align: center;
    padding: 0.5rem;
    color: white;
    border-radius: 7px;
    
}  
 
.foot .logo{
    padding: 5px;
    
}

.foot{
    padding-bottom: 1rem;
}

#op{
    padding: 1rem;
    margin: 0.5rem;
    
}
.git{
    font-size: x-large;
    color: var(--nav-header);
    text-decoration: none;
    padding: 2rem;
  
}